:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;

  --bg-primary: #1f1f1f; /* Primary background color, used for hover states */
  --bg-secondary: #121212; /* Secondary background color, used for component backgrounds */
  --text-primary: #ffffff; /* Primary text color */
  --border-color: #333333; /* Border color for elements */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

.react-select-container {
  width: 400px;
  max-width: 100%;

  .react-select__loading-indicator {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .react-select {
    $react-select: &;
    &-container {
      --hover-color: #2a2a2a;
      .react-select__control {
        background-color: var(--bg-secondary);
        border: 1px solid var(--border-color);
        color: var(--text-primary);
        box-shadow: none; // Removes additional styling for borders/shadows
  
        &:hover {
          border-color: var(--border-color);
        }
      }
  
      #{$react-select}__value-container {
        color: var(--text-primary);
        #{$react-select}__input {
          color: var(--text-primary) !important;
        }
      }
  
      #{$react-select}__menu {
        background-color: var(--bg-secondary);
        border-color: var(--border-color);
      }
  
      #{$react-select}__option {
        background-color: var(--bg-secondary);
        color: var(--text-primary);
  
        &--is-selected {
          background-color: color(var(--hover-color));
          color: var(--text-primary);
          // --color-intensity: var(--lighten);
        }
        
        &:hover,
        &--is-focused {
          background-color: var(--hover-color);
          color: var(--text-primary);
        }
      }
  
      #{$react-select}__single-value {
        color: var(--text-primary);
      }
  
      #{$react-select}__placeholder {
        color: color(var(--text-primary));
      }
  
      #{$react-select}__indicator-separator {
        background-color: var(--border-color);
      }
  
      #{$react-select}__indicator {
        color: var(--text-primary);
        &:hover {
          color: color(var(--text-primary));
        }
      }
  
      #{$react-select}__multi-value {
        background-color: color(var(--bg-secondary));
        #{$react-select}__multi-value__label {
          color: var(--text-primary);
        }
        #{$react-select}__multi-value__remove {
          color: var(--text-primary);
          &:hover {
            background-color: var(--text-primary);
            color: var(--bg-secondary);
          }
        }
      }
    }
  }
}
